<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>{subject}</title>
</head>
    <body>
        <p>
            <strong>Bonjour {userLogin},</strong>
         </p>
         <p>    
                Votre résumé intitulé <strong>{articleTitle}</strong> a bien été enregistré par notre service. Vous serez averti par email lorsqu'il aura été évalué par le comité scientifique.
        </p>
         <p>
               Vous pouvez voir ou modifié votre résumé <a href="{link}" target="_blank">à cette adresse</a> tant qu'il n'a pas été évalué.
         </p>
         <p>
            <strong>Cordialement,</strong>
        </p>
        <p>
            <small>Ce message a été envoyé automatiquement par {website}. Ne répondez pas à cet email.</small>
    </body>
</html>