<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Demande de modification</title>
</head>
    <body>
        <p>
            <strong>Bonjour {authorName},</strong>
         </p>
         <p>    
                {content}
        </p>
         <p>
           Vous pouvez re-soumettre votre article modifié via le lien suivant : <a href="{link}" target="_blank" style="font-weight:bold;color:rgb(153,0,0)">{link}</a><br />
         </p>
         <p>
            <strong>Cordialement,</strong>
        </p>
        <p>
            <small>Ce message a été envoyé par {website}. Ne répondez pas à cet email.</small>
    </body>
</html>