<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Review Request</title>
</head>
    <body>
        <p>
            <strong>Chèr(e) Collègue,</strong>
         </p>
         <p>
             L'article intitulé <strong>{articleName}</strong> attend d'être évalué par vos soins. Vous pouvez accéder au formulaire d'évaluation à <a href="{link}" target="_blank" >cette adresse</a> en vous connectant avec vos identifiants.
         </p>
         <p>
             Nous vous sollicitons en tant que membre du Comité Scientifique du colloque AIC 2014 de Dijon pour expertiser les articles soumis par les auteurs. Nous vous avons attribué de 2 à 3 articles (il est possible que nous vous sollicitions dans les prochains jours pour une dernière expertise, dans l’éventualité de soumissions tardives).
         </p>
         <p>3 cas de figure peuvent se présenter :
             <ul>
                 <li>l'article peut être accepté en l’état</li>
                 <li>l'article nécessite des corrections mineures ou majeures ; dans ce cas vous les demanderez directement à l’auteur en utilisant la plateforme <a href="{link}" target="_blank" >Congressr</a></li>
                 <li>l'article est beaucoup trop faible et il doit être refusé ; dans ce cas vous le notifierez dans les commentaires sur la plateforme <a href="{link}" target="_blank" >Congressr</a>, sans passer par l’auteur.</li>
             </ul>
        </p>
        <p>
            Dans tous les cas, nous vous remercions de bien vouloir saisir votre évaluation sur le site au fur et à mesure de vos lectures, et au plus tard pour <strong>le vendredi 28 mars. </strong>
        </p>
        <p>
            Votre expertise devra concerner :
            <ol>
                <li>La rigueur formelle (cf <a href="http://www.aic2014.com/congressr/document/consignes.doc">consignes aux auteurs</a>), y compris la bibliographie et la qualité des figures (pas d’exigence sur la lisibilité en noir et blanc) ;</li>
                <li>La rigueur scientifique. Dans certains cas, l’originalité de la zone d’étude ou des données utilisées pourra néanmoins compenser l’absence d’apport majeur dans le domaine.</li>
            </ol>
        </p>
         <p>
           Nous vous remercions vivement pour contribution.
         </p>
         <p>
            <strong>Bien cordialement</strong>
        </p>
    </body>
</html>